<ul>
  <% @users.each do |u| %>
    <% if u.is_deleted == false %>
      <li><img src=
    <% if u.avatar.attached? %>
        <%= url_for(u.avatar)%>
    <% else %>
        <%= "/assets/#{u.img_url}" %> 
        <% end %> width="100"><%= u.username %></li>
    <% end %>
  <% end %>
</ul>