<p><b>Q: What is the Sandwich Club?</b></p>
<p>A: The Sandwich Club is a website that allows sandwich fans to meet other sandwich fans and share their recipes with the world.</p>

<p><b>Q: What can I do on the Sandwich Club?</b></p>
<p>A: You can browse through our existing sandwich recipes <%= link_to "here", sandwiches_path %>. After creating an account, 
you can add your own sandwiches to our site and comment on others' sandwiches.</p>

<p><b>Q: That all sounds great. How do I create an account?</b></p>
<p>A: You can create an account <%= link_to "here", new_user_path %>.</p>
<p>Once you've created an account, you can log in <%= link_to "here", login_path %>.</p>

<p><b>Q: Who started the Sandwich Club?</b></p>
<p>A: Sandwich Club was created as a student project at the Flatiron School course on web development by Anaïs Ahmed and Andy Rosario, 
two sandwich lovers.</p>