<div class='container text-center'>
    <h1>Welcome to the Sandwich Club!</h1>
    <p>Here you can join other sandwich lovers in adding your favourite sandwich recipes, and rating and commenting on
    others' sandwiches. What are you waiting for? Join today!</p>
</div>
<div class='container'>
    <h2>Our Best Sandwiches:<h2><br>
    <%  i = -1 %>
        <% 4.times do %>
            <% sammy = Sandwich.sort_by_rating[i] %>
    <div class='text-center container float-left d-inline-block w-25 align-bottom'>
    <h4><%=link_to sammy.title, sandwich_path(sammy) %><h4><br>
    <img src=
    <% if sammy.sandwich_photo.attached? %>
        <%= url_for(sammy.sandwich_photo) %> 
    <% else %>
        <%= "/assets/#{sammy.img_url}" %>
    <% end %> width="200">
    </div>
            <% i -= 1 %>
        <% end %>
</div>