<h1>Welcome to the Sandwich Club!</h1>
<p>Here you can join other sandwich lovers in adding your favourite sandwich recipes, and rating and commenting on
others' sandwiches. What are you waiting for? Join today!</p>
<%= link_to "Sign up", new_user_path %>
<!-- link_to "Log in", login_path --> 